<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="top_box">
            <h1 class="main_title">League of Legends tracker</h1>
        </div>
    </header>
    <section class="main_left">
        <div class="avatar">
            <img src="" alt="">
        </div>
    </section>

    <section class="main_right">
        <h1>GET DATA</h1><br>
        <form method="post">
            <label>Put Nickname and Tagline and select Region</label><br>
            <input type="text" name="player_name">
            <input type="text" name="player_tag">
            <select name="region">
                <option>Americas</option>
                <option>Europe</option>
                <option>Asia</option>
            </select>
            <br>
            <button type="submit">Find</button>
        </form>
        
        {% if puuid %}
            <h3>{{game_name}} | {{game_tag}}</h3>
            <h2>PUUID:</h2>
            <p>{{ puuid }}</p>
            <p>{{ server }}</p>
        {% elif error %}
            <p style="color: red;">{{ error }}</p>
        {% endif %}
    </section>
</body>
</html>