<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Document</title>
</head>
<body>
    <section class="cos">
        <h1>GET DATA</h1><br>
        <form method="post">
            <label>Put player name and tagline</label>
            <input type="text" name="player_name">
            <input type="text" name="player_tag">
            <button type="submit">Find</button>
        </form>
        
        {% if puuid %}
            <h2>PUUID:</h2>
            <p>{{ puuid }}</p>
        {% elif error %}
            <p style="color: red;">{{ error }}</p>
        {% endif %}
    </section>
</body>
</html>