<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="top_box">
            <h1 class="main_title">League of Legends tracker</h1>
        </div>
    </header>
    <section class="main_left">
        {% if puuid %}
            {% if avatar %}
            <div class="avatar">
                <img src="{{ avatar }}" alt="Icon" style="width: 80px; height: 80px; border-radius: 50%;">
            </div>
            {% else %}
                <p>Brak możliwości załadowania awatara.</p>
            {% endif %}
        {% endif %}
        <div class="rank">
            {% if puuid %}
            <p>{{rank}}</p>
            <p>{{match_id}}</p>
            {% elif error %}
                <p style="color: red;">{{ error }}</p>
            {% endif %}
        </div>
    </section>

    <section class="main_right">
        <h1>GET DATA</h1><br>
        <form method="post">
            <label>Put Nickname and Tagline and select Region</label><br>
            <input type="text" name="player_name">
            <input type="text" name="player_tag">
            <select name="region">
                <optgroup label="Europa">
                    <option value="eune">eune</option>
                    <option value="euw">euw</option>
                    <option value="ru">ru</option>
                    <option value="tr">tr</option>
                </optgroup>
                
                <optgroup label="Ameryki">
                    <option value="na1">na1</option>
                    <option value="br1">br1</option>
                    <option value="lan1">lan1</option>
                    <option value="las1">las1</option>
                </optgroup>
                
                <optgroup label="Azja">
                    <option value="kr">kr</option>
                    <option value="jp">jp</option>
                </optgroup>
                
                <optgroup label="Płd.-Wsch. Azja">
                    <option value="oce">oce</option>
                    <option value="ph">ph</option>
                    <option value="sg">sg</option>
                    <option value="th">th</option>
                    <option value="tw">tw</option>
                    <option value="vn">vn</option>
                </optgroup>
            </select>
            <br>
            <button type="submit">Find</button>
        </form>
        
        {% if puuid %}
            <h3>{{game_name}} | {{game_tag}}</h3>
            <h2>PUUID:</h2>
            <p>{{ puuid }}</p>
            <p>{{ server }}</p>
        {% elif error %}
            <p style="color: red;">{{ error }}</p>
        {% endif %}
    </section>
</body>
</html>